.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem;
  color: #222;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.logo-img {
  height: 3rem;
}
.nav__link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__link {
  color: inherit;
  margin: 0 1rem;
  text-decoration: none;
}
